.input {
    box-shadow: 0px 5px 5px #eee;
    & > form {
        display: flex;
        flex-direction: row;
        & > .inputText {
            flex: 1;
            & > input {
                width: 100%;
                border: 0;
                padding: 10px 20px;
                box-sizing: border-box;
                font-size: 1.1em;
            }
        }
        & > .addButton {
            & > button {
                height: 100%;
                background-color: #5aacb5;
                font-weight: bold;
                color: #FFF;
                border: 0;
                padding: 0 20px;
            }
        }
    }
}

.todoListWrapper {
    margin-top: 50px;
    box-shadow: 0px 5px 5px #EEE;
    & > .todo {
        padding: 30px;
        border-bottom: 1px solid #EEE;
        &> :last-child {
            border-bottom: 0;
        }
    }
}